.container {
  display: flex;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

  .top {
    height: 160px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    display: flex;
    padding: 5px;
    flex-direction: column;

    h3 {
      margin: 0;
      padding: 0;
      font-weight: 550;
      font-size: 1rem;
    }

    .ctg {
      margin: 0;
      padding: 0;
      width: auto;
      color: #8d8d8d;
      text-transform: capitalize;
    }

    .desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
